<div class="container">
	<h1><%= @stock.symbol %></h1>
	<p style="color:orange;"><%= @updatedPrice %>
	<hr>
	<ul>
		<li><p>Date: <%= @stock.date %></p></li>
		<li><p>Open: <%= @stock.open %></p></li>
		<li><p>Close: <%= @stock.close %></p></li>
		<li><p>High: <%= @stock.high %></p></li>
		<li><p>Low: <%= @stock.low %></p></li>
		<li><p>Volume: <%= @stock.volume %></p></li>
	</ul>
	<%= link_to "Back", user_path(current_user) %>
	<p style="color:orange;"><%= @dataset["queryresult"]["pod"] %></p>
	<% @images.each do |src| %>
		<%= image_tag src %>
	<% end %>
</div>