<h1><%= @stock.symbol %></h1>

<ul>
	<li>Date: <%= @dataset.date %></li>
	<li>Open: <%= @dataset.open %></li>
	<li>Close: <%= @dataset.close %></li>
	<li>High: <%= @dataset.high %></li>
	<li>Low: <%= @dataset.low %></li>
	<li>Volume: <%= @dataset.volume %></li>
</ul>
