<h1><%= @stock.symbol %></h1>

<ul>
	<li>Date: <%= @stock.date %></li>
	<li>Open: <%= @stock.open %></li>
	<li>Close: <%= @stock.close %></li>
	<li>High: <%= @stock.high %></li>
	<li>Low: <%= @stock.low %></li>
	<li>Volume: <%= @stock.volume %></li>
</ul>
