<div id="stockShow" class="container">
	<% if @fool %>
		<h1><%= @stock.symbol %> - <%= @fool[:company] if @fool[:company]%></h1>
		<hr>
	<% else %>
		<h1><%= @stock.symbol %></h1>
		<hr>
	<% end %>

	<% if @fool %>
		<h2>Data from Motley Fool:</h2>
		<div class="container waContainer text-center">
			<h4>
			<% if @fool[:latestPrice] %>
				Quote: <%= @fool[:latestPrice] %> | 
			<% end %>
			<% if @fool[:latestPriceDate] %>
				Updated at: <%= distance_of_time_in_words Time.now, @fool[:latestPriceDate] %> ago | 
			<% end %>
			<%= @fool[:exchange] if @fool[:exchange] %>
			</h4> 
		</div>
	<% end %>

	
	<h2>Previous Market Close Data:</h2>
	<div>
		<ul class="list-group">
			<li class="list-group-item"><p>Date: <%= @stock.date %></p></li>
			<li class="list-group-item"><p>Previous Open: <%= @stock.open %></p></li>
			<li class="list-group-item"><p>Previous Close: <%= @stock.close %></p></li>
			<li class="list-group-item"><p>Previous High: <%= @stock.high %></p></li>
			<li class="list-group-item"><p>Previous Low: <%= @stock.low %></p></li>
			<li class="list-group-item"><p>Volume: <%= @stock.volume %></p></li>
		</ul>
	</div>
	<%= button_to "Back", user_path(current_user), class: "btn btn-default", method: :get %>
</div>