<p id="notice"><%= notice %></p>

<%= form_tag @stock do %>
	<%= label_tag :ticker %>
	<%= text_field_tag :ticker %>
	<%= submit_tag :submit %>
<% end %>

<%= link_to 'Edit User Info', edit_user_path(@user) %><br>
<h1>Portfolio</h1>
<ul>
	<% @portfolio.each do |p| %>
		<li> Ticker: <%= p.symbol %> <%= link_to "Show", stock_path(p) %> | <%= link_to "Delete", stock_path(p), method: :delete %></li>
	<% end %>
</ul>
<%= form_tag messages_path do %>
	<%= submit_tag "Send SMS"%>
<% end %>
